TB_TOKEN=1a2s3d
MAJOR_ID=123123
WIZ_ID=123123
PUPA_ID=123123
NICK_ID=123123
TEST_CHAT_ID=-123123
TEST_CHAT_ID_2=-123123
UBERPEPOLIS_CHAT_ID=-123123
DEBUG_CHAT_ID=-123123123
AI_API_URL=https://api.z.ai/api/paas/v4/
AI_TOKEN=123123123123
AI_MODEL=glm-4.7-flash
AI_MAX_TOKENS=4096
AI_TEMPERATURE=1.1
AI_PRESENCE_PENALTY=1.0